.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
  background: var(--background-color);
  padding: 12px 24px;
  border-radius: var(--border-radius);
  transition: all 0.3s ease;
  margin: 15px;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: var(--font-size-button);
  border: none;
}

.btn:hover {
  background: linear-gradient(45deg, var(--accent-color), var(--highlight-color));
  transform: translateY(-2px);
  color: var(--primary-color);
}
