.term-container{
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.term-container h2{
    font-size: 1.8rem;
    text-align: left;
    color: var(--background-color);
    margin-bottom: 1rem;
}

.points p{
    font-size: 1.2rem;
    text-align: left;
    color: var(--background-color);
    line-height: 1.6;
}


@media(max-width:768px){
    .term-container h2{
        font-size: 1.6rem;
    }
    .points p{
        font-size: 1rem;
    }
}

@media(max-width:640px){
    .term-container h2{
        font-size: 1.3rem;
    }
    .points p{
        font-size: 0.9rem;
    }
}
